.scheduled-date{
    font-size: 25px;
    margin-bottom: 1.2rem;
}
hr {
    border-top: 2px solid white;
    width: 65%;
    margin: auto;
}

.scheduled-date > a {
    text-decoration: none;
    /* font-style: italic; */
    color: #ffc800;
}

.scheduled-date > a:hover {
    color: yellowgreen;
}

.video-container {
    width: 100%;
    position: relative;
}

.video-container video {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    z-index: -1;
}

.wrap-word {
    white-space: -moz-pre-wrap !important;
    /* Mozilla, since 1999 */
    white-space: -pre-wrap;
    /* Opera 4-6 */
    white-space: -o-pre-wrap;
    /* Opera 7 */
    white-space: pre-wrap;
    /* css-3 */
    word-wrap: break-word;
    /* Internet Explorer 5.5+ */
    white-space: -webkit-pre-wrap;
    /* Newer versions of Chrome/Safari*/
    word-break: break-all;
    white-space: normal;
}


